/*
* @Author: kevin li
* @Date:   2016-05-23 10:10:39
* @Last Modified by:   kevin li
* @Last Modified time: 2016-05-25 09:34:14
*/

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
