/*
* @Author: kevin li
* @Date:   2016-05-23 10:10:39
* @Last Modified by:   kevin li
* @Last Modified time: 2016-05-23 14:15:29
*/

body{
    display: flex;
    border-bottom: 1px solid #444;
    color:#000;
    font-size: 15px;
    margin-right: 0;
    border-radius: 889px;
    background-image: url('../img/4.png');
}
