@import "../variables";
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.btn {
  color: #FFF;
  border-radius: 0;
  &:hover,
  &:focus {
    color: #FFF;
    outline: none;
  }
  &.btn-default {
    color: $font-color-primary;
    background-color: #fff;
    border-color: #ccc;
    &.disabled {
      background-color: $bg-color-1;
    }
  }
  &.btn-bak {
    color: $font-color-primary;
    background-color: $bg-color-1;
    border-color: #ccc;
    &:hover {
      background: #e3e3e3;
      color: #444;
      border: solid 1px #cbcbcb;
    }
  }
  &.btn-primary {
    color: #FFF;
    background-color: $theme-color-primary;
    border-color: $theme-color-primary;
    &:hover {
      background-color: $theme-color-second;
      border-color: $theme-color-second;
    }
  }
  &.btn-primary-rev {
    color: $theme-color-primary;
    background-color: #FFF;
    border-color: $theme-color-primary;
    &:hover {
      color: $theme-color-second;
      background-color: #FFF;
      border-color: $theme-color-second;
    }
  }
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-xxs {
  padding: 3px 6px !important;
  font-size: 12px;
  line-height: 1;
}
.btn-xss{
  vertical-align: inherit !important;;
  padding: 1px 6px !important;
}

.btn-xs {
  padding: 4px 15px !important;
  font-size: 12px;
  line-height: 1;
  margin: 0 5px;
}

.btn-large {
  font-size: 18px;
  padding: 5px 30px;
}

.btn-remind {
  color: $border-color-red;
  border: 1px solid $border-color-red;
  background-color: $border-color-red;
  &:hover {
    border: 1px solid $hover-color-red;
    background-color: $hover-color-red;
  }
}

.btn-addCart {

  color: $border-color-red;
  border: 1px solid $border-color-red;
  border-radius: 4px;
  background-color: transparent;

  &:hover {
    color: $hover-color-red;
    border: 1px solid $hover-color-red;
    background-color: transparent;
  }
}

.btn-toCart {
  color: #000;
  border: 1px solid $border-color-1;
  background-color: transparent;
  height: 35px;
  line-height: 35px;
  margin: 8px 100px 0 0;
  &:before {
    color: $pumpkin;
  }
  &:hover {
    color: $pumpkin;
  }
}

.btn-myCart {
  font-size: 14px;
  height: 34px;
  border: 1px solid #e3e3e3;
  padding: 0 28px 0 36px;
  background: #f5f5f5;
  text-align: center;
  line-height: 34px;
  a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
  }
  a:hover {
    color: $hover-color-red;
  }
  img {
    padding-right: 14px;
  }
  &:hover {
    cursor: pointer;
  }
}

.btn-showMore {
  position: absolute;
  right: 5px;
  top: -2px;
  color: $font-color-primary !important;
  font-size: 12px;
  padding-right: 4px;
  i {
    color: $border-color-4;
    border: 1px solid $border-color-4;
    padding: 0 4px;
    font-size: 20px;
    margin-left: 4px;
    vertical-align: sub;
  }
  &:hover {
    color: $hover-color-red !important;
    i {
      color: $hover-color-red;
      border: 1px solid $hover-color-red;
    }
  }
}

.btn-enter {
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 3px;
  background: $peter-river;
}

.price-filter-panel .btn-enter {
  font-size: 12px;
}

.multi-btn {
  position: absolute;
  right: 26px;
  top: 10px;
  &:hover {
    color: $peter-river;
    border: 1px solid $peter-river;
  }
}

.btn-login {
  width: 100%;
  font-size: 18px;
  background-color: #e4393c;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  letter-spacing: 26px;
}

.btn-toBlack {
  display: inline-block;
  color: $font-color-orange;
  border: 1px solid $font-color-orange;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 30px;
  &:hover {
    color: $hover-color-red;
    border: 1px solid $hover-color-red;
  }
}

.btn-addToCart {
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  background-color: $border-color-red;
}

.btn-account {
  color: $color-white;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 20px;
  margin-left: 75px;
  background-color: $border-color-red;
}

.btn-goods-enter {
  display: inline-block;
  width: 100px;
  height: 31px;
  background: url('/static/project/img/pay/button_confirm_nor.png') no-repeat top;
  margin-bottom: 30px;
}

.btn-order-enter {
  display: inline-block;
  width: 118px;
  height: 34px;
  background: url('/static/project/img/pay/btn_submitOder_nor.png') no-repeat top;
  margin-left: 20px;
}

.btn-consignee {
  display: inline-block;
  font-size: 14px;
  // color: $color-333;
  border: 1px solid $color-e3e;
  width: 205px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  &:hover {
    color: $color-e43;
    border: 2px solid $color-e43;
    background: url('/static/project/img/pay/msg1_icon_check_nor.png') no-repeat right bottom;
  }
}

.btn-select {
  color: $color-e43 !important;
  border: 2px solid $color-e43 !important;
  background: url('/static/project/img/pay/msg1_icon_check_nor.png') no-repeat right bottom;
}

.btn-addressSubmit {
  width: 208px;
  height: 31px;
  border: 0;
  background: url('/static/project/img/pay/msg1_btn_distribution_nor.png') no-repeat top;
}



.btn-switch {
  font-size: 16px;
  color: $color-666;
  padding: 4px 35px;
  margin: 0 10px;
  border: 1px solid $color-e3e;
  &:hover {
    color: $color-e43;
  }
}

.btn-modify {
  display: inline-block;
  width: 120px;
  height: 22px;
  background: url('/static/project/img/pay/msg1_btn_modify_nor.png') no-repeat top;
}

.btn-edit {
  width: 90px;
  height: 22px;
  background: url('/static/project/img/pay/msg1_btn_edit_nor.png') no-repeat;
}

.btn-del {
  width: 90px;
  height: 22px;
  background: url('/static/project/img/pay/msg1btn_del_nor.png') no-repeat;
}

.btn-getCode {
  display: inline-block;
  width: 64px;
  height: 20px;
  margin: 10px 0 0 20px;
  background: url('/static/project/img/pay/pay_btn_get_nor.png') no-repeat top;
}

.btn-getCode-disabled {
  cursor: not-allowed;
  background: url('/static/project/img/pay/pay_btn_get_dis.png') no-repeat top;
}

.btn-pay {
  display: inline-block;
  width: 180px;
  height: 36px;
  background: url('/static/project/img/pay/pay_btn_pay_nor.png') no-repeat top;
}

.btn-save {
  display: inline-block;
  width: 87px;
  height: 27px;
  background: url('/static/project/img/pay/msg2_btn_save_nor.png') no-repeat top;
}

.btn-cancel {
  display: inline-block;
  width: 87px;
  height: 27px;
  background: url('/static/project/img/pay/msg2_btn_cancel_nor.png') no-repeat top;
}

.btn-next-gray {
  border: 0;
  width: 87px;
  height: 26px;
  margin-right: 47px;
  background: url('/static/project/img/pay/msg3_btn_next_nor.png') no-repeat top;
}
.btn-next-red {
  display: inline-block;
  width: 150px;
  height: 30px;
  background: url('/static/project/img/pay/msg1_btn_next_nor.png') no-repeat top;
}
.btn-cz{
  font-size: 14px;
  color: $color-fff;
  border-radius: 10px;
  background: #f30000;
  margin: 0 10px;
  &:hover{
    color: $color-fff;
  }
}
.btn-tx{
  font-size: 14px;
  color: #269600;
  border: 1px solid #269600;
  border-radius: 10px;
  background: $color-fff;
  &:hover{
    color: #269600;
  }
}

.btn-all-enter{
  display: inline-block;
  width:87px;
  height: 26px;
  background: url('/static/project/img/member/btn_confirm_nor.png') no-repeat top;

}

