$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3094ED;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$bg-color-0:#FFF;
$bg-color-1:#f7f7f7;
$bg-color-2:#dfdfdf;
$bg-color-3:#e5e5e5;
$border-color-1:#e1e1e1;
$border-color-2:#ebebeb;
$border-color-3:#dcdcdc;
$border-color-4:#e3e3e3;
$border-color-5:#F2F2F2;
$border-color-6:#bdbdbd;
$border-color-green: #71b247;
$focus-border-color: #3aa2e4;
$theme-color-primary: $peter-river;
$theme-color-second: $belize-hole;

$color-white: #fff;
$font-color-bold: #333;
$font-color-primary: #666;
$font-color-secondary: #888;
$sub-font-color: #999;
$font-color-small: #d0111b;
$font-color-orange: #ff5300;
$font-color-up: #1f901f;
$filter-font-color: #806f66;
$border-color-red: #C72229;
$table-border-color: #f2f2f2;
$hover-color-red: #ff0000;
$bg-color-gray: #F5F5F5;
$bg-color-yellow: #fff4e8;
$bg-panel-red: #FFCECA;
$bg-panel-yellow: #FEDDCC;

$color-000:#000;
$color-fff: #fff;
$color-ccc: #ccc;
$color-cae: #caecb6;
$color-7ab: #7abd54;
$color-333:#333;
$color-666:#666;
$color-888:#888;
$color-999:#999;
$color-e3e: #e3e3e3;
$color-e6e: #e6e6e6;
$color-e43:#e4393c;
$color-f3:#fff3f3;
$color-005:#005ea7;
$color-c81:#c81623;
$color-d4:#d4d4d4;
$color-f5:#F5F5F5;
$color-ff5:#ff5300;

