
.tabbar {
  display: flex;
  text-align: center;
  background-color: #eeeeee;
  padding: 10px 0;
  &.flxed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
  }
  .active{
    .icon,.label{
      color: #f33;
    }
  }
  .tab-item {
    display: block;
    flex: 1;
    align-content: center;
    color: #a6a6a6;

  }
  .icon{
    display: block;
    color: #808080;
    font-size: 50px;
  }
  .label{
    font-size: 22px;
  }
}